*{
	padding: 0;
	margin:0;
}
.oprate{
	width: 260px;
	height: 30px;
	margin: 50px auto;
}
.oprate select{
	width: 80px;
	height: 30px;
}
.oprate button{
	width: 80px;
	height: 30px;
	cursor: pointer;
}
.operate button:hover{
	border:1px solid skyblue;
}
#imgs{
	width: 240px;
	height: 240px;
	margin:auto;
	border:1px solid #ccc;
	display: none;
}
#imgs div{
	height: 80px;
	width: 80px;
/*	margin: 5px;*/
	border:1px solid #ccc;
	box-sizing: border-box;
	text-align: center;
	line-height: 70px;
	float: left;
}
#imgs div img{
	height: 80px;
	width: 80px;
}